{% extends 'inicio.html' %}
{% load static %}


{% block contenidoquecambia %}

    <h1>Joaquín Mateo</h1>
    <p>Con este trabajo busco iniciarme en el mundo de la programación, es mi primer curso y tengo un largo camino por delante antes de saltar al ámbito laboral
        <br>
        Agradecimientos totales al Profesor, los tutores y los compañeros de ésta cursada, con cada interacción me lleve un aprendizaje conmigo y seguiré actualizandome para mejorar mi blog para que sea de una navegación satisfactoria
        <br>
        Saludos Cordiales, Joaquín el entusiasta.
        <br>
        <img src="{% static 'imagenes/autoretrato.jpg' %}" alt="Autoretrato">
    </p>

{% endblock contenidoquecambia %}