{% extends 'inicio.html' %}


{% block contenidoquecambia %}

   
   {% if productos %}
        
        <p>Estos son los productos de la marca {{marca}}</p>
    
        <ul>
            {% for producto in productos %}

                <li>
                    <a href="{% url 'DetalleCatalogo' producto.id %}"></a>
                        <h2>{{ producto.marca }} <br> {{producto.producto}}</h2>
                    </a>
                </li>

            {% endfor %}
        </ul>   
    {% else %} 
        <p>No se encontraron productos de la marca {{marca}}</p>
    {% endif %}
        
{% endblock contenidoquecambia %}